html * { 
    font-family: DejaVu Sans Mono, monospace;
}

body  {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color:#fff;
    text-align:center;
    background-image: url('/static/img/background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
}

h1 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}