{% macro session(active_session) %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" width="40" height="40" class="d-inline-block align-top" alt="">
        &nbsp;EmployerDB
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
    {% if not active_session %}    
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup') }}">Sing Up</a>
          </li>
    {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Employers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('search_by_id') }}">Search By Id</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
          </li>
    {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endmacro %}